.post_image{
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    
}
.post h4{
    font-weight: normal;
    padding: 20px;
}
.post_header{
    display: flex;
    align-items: center;
    padding: 20px;
}
.post_avatar{
    margin-right: 10px;
}
.post{
    max-width: 500px;
    border: 1px solid lightgray;
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    
}
.post_comments{
    padding: 10px;
}
.post_commentbox{
    display: flex;
    margin-top: 5px;
}
.post_input{
    flex: 1;
    padding: 10px;
    border: none;
    border-top: 1px solid lightgray;
}
.post_button{
    flex: 0;
    border: none;
    border-top: 1px solid lightgray;
}